.App {
  font-family: sans-serif;
  text-align: center;
}

.Board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  width: 440px;
  height: 440px;
}

.Cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
